@import "tailwindcss";

@layer base {

    /* Hide scrollbar for IE, Edge and Firefox on all elements */
    * {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* Hide scrollbar for Chrome, Safari and Opera on all elements */
    *::-webkit-scrollbar {
        display: none;
    }
}