@font-face {
    font-family: "Suisse";
    src: url("../assets/fonts/SuisseIntl-Light.woff2")
    format("woff2");

    font-weight: 300;
}

@font-face {
    font-family: "Suisse";
    src: url("../assets/fonts/SuisseIntl-Regular.woff2")
    format("woff2");

    font-weight: 400;
}

body{
    font-family: "Suisse", sans-serif;
}